.Toastify__toast--success {
    --tw-bg-opacity: 1;
    background-color: rgba(236, 72, 153, var(--tw-bg-opacity)) !important;
    font-weight: 500 i !important;
}

.love-btn:focus {
    color: rgba(236, 72, 153, var(--tw-bg-opacity)) !important;
}